<div class="page-header">

  <h1> Create Task </h1>
  <%= form_for([current_user, @item]) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :category %>
    <%= f.text_field :category %>

    <%= f.submit "Save" %>
  <% end %>
